@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

.tg-button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color)
}